section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 57px 144px 0 144px;
}
.outsider {
    margin-bottom: 55px;
    max-width: 371px;
    font-size: 49px;
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    font-size: 17px;
    font-weight: 700;
    color: #5863E3;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.form-box {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 40px;
}

.form1 {
  width: 70%;
  height: 298px
}
.form1 textarea {
  resize: none;
  width: 100%;
  height: 298px;
  padding: 20px; 
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F8F8F8;
  border: 2px solid #d3d3d3;
}
.form2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form2 input[type=text], input[type=submit], input[type=email] {
  width: 100%;
  height: 20%;
  padding: 12px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F8F8F8;
  font-weight: 700;
  border: 2px solid #d3d3d3;
}
.form2 input[type=submit]{
    background-color: #5968F4;
    border: none;
    cursor: pointer;
}
.image-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
i.fa-envelope, i.fa-location-dot, i.fa-phone {
    width: 68px;
    height: 68px;
    background: #5968F4;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: rgb(72, 11, 100);
    font-size: 28px;
}
.image-box div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    font-family: Arial, Helvetica, sans-serif;
    gap: 15px;
    min-width: 200px;
    margin-bottom: 20px;
}
.image-box div h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.image-box div p {
    font-size: 15px;
    font-weight: 700;
    color: #99999A;
}
.imagebox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 60px;
}
.imagebox img {
    max-width: 373px;
}
footer {
    height: 372px;
    width: 100%;
    display: flex;
    background-color: black;
    padding: 62px 143px;
}
.left-footer {
    display: flex;
    width: 33%;
    gap: 25px;
    flex-direction: column;
    height: 100%;
    max-width: 300px;
}
.left-footer h1{
    color: white;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}
.left-footer p {
    color: #99999A;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.social-webs {
    display: flex;
    flex-direction: row;
    gap: 7px;
}
.right-footer {
    display: flex;
    justify-content: space-evenly;
    width: 66%;
    color: #5863E3;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}
.selected {
    color: white;
    font-size: 21px;
    margin-bottom: 32px;
}
.mix {
    color: white;
    font-size: 17px;
    line-height: 1.5;
}
.mix i {
    color: #5863E3;
    font-size: 17px;
}